In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

# loading initial network entry

In [3]:
Ini_Net_Ent_37=pd.read_csv("c://Users/Dell Vostro 1014/week 39/TimeSeriesAnalysisWithPython/data_KPI/20161002_100411_DistributedBS  BS Initial Network Entry_100000.xls",parse_dates = [0],infer_datetime_format=True,skiprows=3,sep='\t')
Ini_Net_Ent_41=pd.read_csv("c://Users/Dell Vostro 1014/week 39/TimeSeriesAnalysisWithPython/data_KPI/20161002_101716_DistributedBS  BS Initial Network Entry_100001.xls",parse_dates = [0],infer_datetime_format=True,skiprows=3,sep='\t')
Ini_Net_Ent_43=pd.read_csv("c://Users/Dell Vostro 1014/week 39/TimeSeriesAnalysisWithPython/data_KPI/20161002_102544_DistributedBS  BS Initial Network Entry_100002.xls",parse_dates = [0],infer_datetime_format=True,skiprows=3,sep='\t')

# loading bs ranging info

In [4]:
rang_37=pd.read_csv("c://Users/Dell Vostro 1014/week 39/TimeSeriesAnalysisWithPython/data_KPI/20161002_100411_DistributedBS  BS Ranging Info_100000.xls",parse_dates = [0],infer_datetime_format=True,skiprows=3,sep='\t')
rang_41=pd.read_csv("c://Users/Dell Vostro 1014/week 39/TimeSeriesAnalysisWithPython/data_KPI/20161002_101716_DistributedBS  BS Ranging Info_100001.xls",parse_dates = [0],infer_datetime_format=True,skiprows=3,sep='\t')
rang_43=pd.read_csv("c://Users/Dell Vostro 1014/week 39/TimeSeriesAnalysisWithPython/data_KPI/20161002_102544_DistributedBS  BS Ranging Info_100002.xls",parse_dates = [0],infer_datetime_format=True,skiprows=3,sep='\t')

# loading zone distribution

In [5]:
Zone_dist=pd.read_excel("c://Users/Dell Vostro 1014/week 39/TimeSeriesAnalysisWithPython/data_KPI/Zone (Area & Sites) distribution.xls",sheetname="Site Distribution Details")
Zone_dist.head()

      WBTS  Division District Cluster Name Cluster ID  Zone owner Region owner
0  BO72003  Rajshahi    Bogra        Bogra      Bogra      Pallab        Ihsan
1  BO72009  Rajshahi    Bogra        Bogra      Bogra      Pallab        Ihsan
2  BO72010  Rajshahi    Bogra        Bogra      Bogra      Pallab        Ihsan
3  BO72012  Rajshahi    Bogra        Bogra      Bogra      Pallab        Ihsan
4  BO72013  Rajshahi    Bogra        Bogra      Bogra      Pallab        Ihsan

# merging files

In [6]:
Ini_Net_Ent=pd.merge(Ini_Net_Ent_37,pd.merge(Ini_Net_Ent_41,Ini_Net_Ent_43,how='outer'),how='outer')
rang=pd.merge(rang_37,pd.merge(rang_41,rang_43,how='outer'),how='outer')

# Joining the csvs

In [8]:
resr=rang.join(Ini_Net_Ent['Number of Successful Ranging'])
resr=resr[['Start Time','Server','WBTS','Cell',"Number of Initial RNG-REQ","Number of Successful Ranging"]]
resr.head()

,Start Time,Server,WBTS,Cell,Number of Initial RNG-REQ,Number of Successful Ranging
0,2016-09-24,100000 [sys],2048 [DH17036],0,100,62
1,2016-09-24,100000 [sys],2048 [DH17036],1,14,14
2,2016-09-24,100000 [sys],2048 [DH17036],2,224,170
3,2016-09-24,100000 [sys],2051 [DH17002],0,574,567
4,2016-09-24,100000 [sys],2051 [DH17002],1,126,90

# performing Excel's 'Text to column operation'

In [9]:
a=resr["WBTS"].str.rpartition(pat='[')
b=a[2].str.rpartition(pat=']')
resr["WBTS"]=b[0]

# Performing excels concat formula in pandas

In [10]:
resr['Cell'] = resr['Cell'].astype(int)
resr['Cell'] = resr['WBTS'].str.cat(resr['Cell'].values.astype(str), sep='_')

In [11]:
resr.head()

,Start Time,Server,WBTS,Cell,Number of Initial RNG-REQ,Number of Successful Ranging
0,2016-09-24,100000 [sys],DH17036,DH17036_0,100,62
1,2016-09-24,100000 [sys],DH17036,DH17036_1,14,14
2,2016-09-24,100000 [sys],DH17036,DH17036_2,224,170
3,2016-09-24,100000 [sys],DH17002,DH17002_0,574,567
4,2016-09-24,100000 [sys],DH17002,DH17002_1,126,90

# Zone_dist merging

In [12]:
resr=resr.merge(Zone_dist, on='WBTS', how='left')

In [13]:
resr.head()

,Start Time,Server,WBTS,Cell,Number of Initial RNG-REQ,Number of Successful Ranging,Division,District,Cluster Name,Cluster ID,Zone owner,Region owner
0,2016-09-24,100000 [sys],DH17036,DH17036_0,100,62,Dhaka,Dhaka,"Gulshan,Tejgaon,Mohakhali",DH03,Rupom,Zakir
1,2016-09-24,100000 [sys],DH17036,DH17036_1,14,14,Dhaka,Dhaka,"Gulshan,Tejgaon,Mohakhali",DH03,Rupom,Zakir
2,2016-09-24,100000 [sys],DH17036,DH17036_2,224,170,Dhaka,Dhaka,"Gulshan,Tejgaon,Mohakhali",DH03,Rupom,Zakir
3,2016-09-24,100000 [sys],DH17002,DH17002_0,574,567,Dhaka,Dhaka,"Gulshan,Tejgaon,Mohakhali",DH03,Rupom,Zakir
4,2016-09-24,100000 [sys],DH17002,DH17002_1,126,90,Dhaka,Dhaka,"Gulshan,Tejgaon,Mohakhali",DH03,Rupom,Zakir

# Pivoting

In [14]:
resr_pv=pd.pivot_table(resr,values=['Number of Initial RNG-REQ','Number of Successful Ranging'],index=['WBTS','Cell'],aggfunc=sum)

In [15]:
resr_pv.head()

                   Number of Initial RNG-REQ  Number of Successful Ranging
WBTS    Cell
BG65001 BG65001_0                       5749                          4235
        BG65001_1                       6133                          4560
        BG65001_2                      19265                         15380
BH54001 BH54001_0                        788                           694
        BH54001_1                       2439                          2077

# Mathmatical operation

In [16]:
resr_pv["RESR"]=resr_pv["Number of Successful Ranging"]*100/resr_pv["Number of Initial RNG-REQ"]

In [17]:
resr_pv.head()

                   Number of Initial RNG-REQ  Number of Successful Ranging  \
WBTS    Cell
BG65001 BG65001_0                       5749                          4235
        BG65001_1                       6133                          4560
        BG65001_2                      19265                         15380
BH54001 BH54001_0                        788                           694
        BH54001_1                       2439                          2077

                        RESR
WBTS    Cell
BG65001 BG65001_0  73.664985
        BG65001_1  74.351867
        BG65001_2  79.833896
BH54001 BH54001_0  88.071066
        BH54001_1  85.157852

# merging

In [18]:
resr_full=resr_pv.reset_index().merge(Zone_dist, on='WBTS', how='left')

In [19]:
resr_full['RESR'].dropna().fillna(0)

0       73.664985
1       74.351867
2       79.833896
3       88.071066
4       85.157852
5       98.324958
6       97.743623
7       97.343664
8       95.290179
9       61.467890
10      85.272516
11      77.301927
12      85.655738
13      95.267309
14      94.019934
15      85.023194
16      73.296501
17      92.953930
18      74.524941
19      82.174113
20      79.547790
21      91.690544
22      88.068308
23      87.890066
24      55.868815
25      74.350649
26      90.010515
27      89.055404
28      85.863874
29      84.160757
          ...
1853    22.808268
1854    22.293546
1855    32.714351
1856    75.435816
1857    60.562216
1858    57.420749
1859    90.473684
1860    69.511839
1861    90.110246
1862    93.114657
1863    88.931889
1864    45.860642
1865    47.692620
1866    46.576963
1867    90.263158
1868    83.455262
1869    80.676923
1870    80.274060
1871    94.654378
1872    75.733118
1873    67.461218
1874    88.733489
1875    90.679305
1876    93.317826
1877    88.733553
1878    94.695341
1879    96.818182
1881    48.448687
1882    98.176796
1883    90.220174
Name: RESR, dtype: float64

In [39]:
resr_full[resr_full['Region owner']== 'Zakir']  and resr_full[resr_full['RESR'] < 70]

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [45]:
r_c_1=resr_full[(resr_full['RESR']<70) &(resr_full['Region owner']=='Zakir ')]
r_c_1.to_excel("")

In [37]:
resr_full[resr_full['RESR']< 70]

,WBTS,Cell,Number of Initial RNG-REQ,Number of Successful Ranging,RESR,Division,District,Cluster Name,Cluster ID,Zone owner,Region owner
9,BO72003,BO72003_0,981,603,61.467890,Rajshahi,Bogra,Bogra,Bogra,Pallab,Ihsan
24,BO72014,BO72014_0,1738,971,55.868815,Rajshahi,Bogra,Bogra,Bogra,Pallab,Ihsan
68,CD55001,CD55001_0,2086,793,38.015340,Khulna,Chuadanga,Chuadanga,Chuadanga,Zahangir,Ihsan
69,CD55001,CD55001_1,749,387,51.668892,Khulna,Chuadanga,Chuadanga,Chuadanga,Zahangir,Ihsan
70,CD55001,CD55001_2,1776,955,53.772523,Khulna,Chuadanga,Chuadanga,Chuadanga,Zahangir,Ihsan
74,CM28002,CM28002_0,2150,1470,68.372093,Chittagong,Comilla,Comilla,Comilla,Pallab,Ihsan
88,CM28007,CM28007_2,295,201,68.135593,Chittagong,Comilla,Comilla,Comilla,Pallab,Ihsan
90,CM28008,CM28008_1,1465,1017,69.419795,Chittagong,Comilla,Comilla,Comilla,Pallab,Ihsan
94,CM28011,CM28011_0,7136,3717,52.088004,Chittagong,Comilla,Comilla,Comilla,Pallab,Ihsan
108,CP31001,CP31001_2,1419,770,54.263566,Chittagong,Chandpur,Chandpur,Chandpur,Pallab,Ihsan
110,CT24001,CT24001_1,4604,3216,69.852302,Chittagong,Chittagong,Cl-5,Cl-5,Toufik,Lipu
117,CT24003,CT24003_2,5070,3116,61.459566,Chittagong,Chittagong,Cl-5,Cl-5,Toufik,Lipu
121,CT24005,CT24005_0,3977,1138,28.614534,Chittagong,Chittagong,Cl-1,Cl-1,Sajjad,Lipu
122,CT24005,CT24005_1,4653,1479,31.785945,Chittagong,Chittagong,Cl-1,Cl-1,Sajjad,Lipu
130,CT24008,CT24008_0,4756,2475,52.039529,Chittagong,Chittagong,Cl-5,Cl-5,Toufik,Lipu
132,CT24008,CT24008_2,3230,1416,43.839009,Chittagong,Chittagong,Cl-5,Cl-5,Toufik,Lipu
141,CT24011,CT24011_2,13361,3171,23.733253,Chittagong,Chittagong,Cl-5,Cl-5,Toufik,Lipu
143,CT24012,CT24012_1,9755,3089,31.665812,Chittagong,Chittagong,Cl-1,Cl-1,Sajjad,Lipu
144,CT24012,CT24012_2,2583,1412,54.665118,Chittagong,Chittagong,Cl-1,Cl-1,Sajjad,Lipu
165,CT24020,CT24020_2,2572,1533,59.603421,Chittagong,Chittagong,Cl-4,Cl-4,Sajjad,Lipu
169,CT24022,CT24022_0,3308,1062,32.103990,Chittagong,Chittagong,Cl-2,Cl-2,Sajjad,Lipu
170,CT24022,CT24022_1,2715,1069,39.373849,Chittagong,Chittagong,Cl-2,Cl-2,Sajjad,Lipu
175,CT24024,CT24024_0,1502,672,44.740346,Chittagong,Chittagong,Cl-2,Cl-2,Sajjad,Lipu
176,CT24024,CT24024_1,1529,721,47.155003,Chittagong,Chittagong,Cl-2,Cl-2,Sajjad,Lipu
177,CT24024,CT24024_2,2138,506,23.666978,Chittagong,Chittagong,Cl-2,Cl-2,Sajjad,Lipu
178,CT24025,CT24025_0,4250,1644,38.682353,Chittagong,Chittagong,Cl-2,Cl-2,Sajjad,Lipu
179,CT24025,CT24025_1,3556,1594,44.825647,Chittagong,Chittagong,Cl-2,Cl-2,Sajjad,Lipu
180,CT24025,CT24025_2,1203,704,58.520366,Chittagong,Chittagong,Cl-2,Cl-2,Sajjad,Lipu
184,CT24028,CT24028_0,3185,1673,52.527473,Chittagong,Chittagong,Cl-2,Cl-2,Sajjad,Lipu
185,CT24028,CT24028_1,2671,1408,52.714339,Chittagong,Chittagong,Cl-2,Cl-2,Sajjad,Lipu
...,...,...,...,...,...,...,...,...,...,...,...
1765,RS33028,RS33028_2,5937,4080,68.721577,Rajshahi,Rajshahi,Rajshahi,Rajshahi,Zahangir,Ihsan
1769,SK64001,SK64001_0,1284,594,46.261682,Khulna,Satkhira,Satkhira,Satkhira,Zahangir,Ihsan
1771,SK64001,SK64001_2,2863,1873,65.420887,Khulna,Satkhira,Satkhira,Satkhira,Zahangir,Ihsan
1798,SL78009,SL78009_2,5220,3293,63.084291,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1805,SL78012,SL78012_0,4503,3000,66.622252,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1808,SL78013,SL78013_0,5590,1855,33.184258,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1809,SL78013,SL78013_1,6800,3314,48.735294,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1810,SL78013,SL78013_2,7000,1911,27.300000,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1815,SL78015,SL78015_1,4080,2825,69.240196,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1816,SL78015,SL78015_2,4913,3321,67.596173,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1820,SL78017,SL78017_0,5261,3415,64.911614,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1821,SL78017,SL78017_1,3748,1790,47.758805,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1822,SL78017,SL78017_2,7712,4241,54.992220,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1823,SL78018,SL78018_0,3800,1837,48.342105,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1825,SL78018,SL78018_2,1478,707,47.834912,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1832,SL78021,SL78021_0,3063,414,13.516161,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1833,SL78021,SL78021_1,13994,2764,19.751322,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1834,SL78021,SL78021_2,10739,1874,17.450414,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1835,SL78023,SL78023_0,5172,3462,66.937355,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1853,SL78034,SL78034_0,1403,320,22.808268,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1854,SL78034,SL78034_1,5764,1285,22.293546,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1855,SL78034,SL78034_2,8724,2854,32.714351,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1857,SL78035,SL78035_1,2419,1465,60.562216,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1858,SL78035,SL78035_2,2776,1594,57.420749,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1860,SL78036,SL78036_1,3421,2378,69.511839,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1864,SL78040,SL78040_0,11596,5318,45.860642,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1865,SL78040,SL78040_1,4919,2346,47.692620,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1866,SL78040,SL78040_2,6763,3150,46.576963,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1873,SL78050,SL78050_0,5286,3566,67.461218,Sylhet,Sylhet,Sylhet,Sylhet,Tarek,Ihsan
1881,ST51001,ST51001_0,419,203,48.448687,Dhaka,Shariatpur,Shariatpur,Dhaka Rest,Pallab,Ihsan

In [53]:
RESR_R_1=resr_full[resr_full['Region owner']=='Zakir '][['Cell','Number of Initial RNG-REQ','Number of Successful Ranging','RESR']]
RESR_R_2=resr_full[resr_full['Region owner']=='Lipu'][['Cell','Number of Initial RNG-REQ','Number of Successful Ranging','RESR']]
RESR_R_3=resr_full[resr_full['Region owner']=='Ihsan'][['Cell','Number of Initial RNG-REQ','Number of Successful Ranging','RESR']]

In [54]:
resr_full[resr_full['Region owner']=='Zakir '][['Cell','Number of Initial RNG-REQ','Number of Successful Ranging','RESR']].to_excel("WEEKLY.xls", sheet_name="region_1")
resr_full[resr_full['Region owner']=='Lipu'][['Cell','Number of Initial RNG-REQ','Number of Successful Ranging','RESR']].to_excel("WEEKLY.xls", sheet_name="region_2")
resr_full[resr_full['Region owner']=='Ihsan'][['Cell','Number of Initial RNG-REQ','Number of Successful Ranging','RESR']].to_excel("WEEKLY.xls", sheet_name="region_3")

In [62]:
import xlwt
writer = xlwt.write('Weekly.xlsx')
resr_full[resr_full['Region owner']=='Zakir '][['Cell','Number of Initial RNG-REQ','Number of Successful Ranging','RESR']].to_excel(writer,'Region_1')
resr_full[resr_full['Region owner']=='Lipu'][['Cell','Number of Initial RNG-REQ','Number of Successful Ranging','RESR']].to_excel(writer,'Region_2')
resr_full[resr_full['Region owner']=='Ihsan'][['Cell','Number of Initial RNG-REQ','Number of Successful Ranging','RESR']].to_excel(writer,'Region_3')
writer.save()

AttributeError: 'module' object has no attribute 'write'

In [57]:
resr_full.to_excel?

In [ ]:
.to_excel